<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark" class="navbar-center">
  <links>
    <ul class="navbar-nav navbar-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link underline-hover waves-light" mdbWavesEffect routerLink="invitation">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link underline-hover waves-light" mdbWavesEffect routerLink="wedding">Wedding</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link underline-hover waves-light" mdbWavesEffect routerLink="travel">Travel</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link underline-hover waves-light" mdbWavesEffect routerLink="registry">Registry</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
