<!-- Jumbotron -->
<div class="jumbotron text-center dark-background">
  <h5 class="card-header">We invite you to view our anniversary fund:</h5>
  <br>
  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/japan.jpg" alt="Japan" style="margin-left:auto; margin-right:auto;"></mdb-card-img>
      <a href="https://registry.theknot.com/-may-2019-tn/31684409" target="_blank">
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>1-Year Anniversary Trip</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        The two of us are blessed to already have most things that we need to start our life together.
        To commemorate the first anniversary of our marriage, we plan to travel overseas to Japan to see the culture, eat the food, and bring back awesome souvenirs.
        We share a love for Japanese culture and the Japanese language and we can't come up with a better way to spend our time after wedding planning is complete!
      </mdb-card-text>
      <mdb-card-text>
        As an alternative to traditional gift-giving, we invite our guests to contribute any amount desired toward our anniversary fund.
        We'll be sure to share photos and videos of our trip together!
      </mdb-card-text>

      <a href="https://registry.theknot.com/-may-2019-tn/31684409" target="_blank" mdbBtn color="primary" mdbWavesEffect>View Anniversary Fund</a>
    </mdb-card-body>
  </mdb-card>

  <br>
  <h5 class="card-header">Alternatively, our traditional registries are below:</h5>
  <br>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/amazon_logo.jpg" alt="Amazon.com Logo"></mdb-card-img>
      <a href="https://www.amazon.com/wedding/a/registry/1YEI2TVEAYSCM?tag=wedch-994-20" target="_blank">
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <a href="https://www.amazon.com/wedding/a/registry/1YEI2TVEAYSCM?tag=wedch-994-20" target="_blank" mdbBtn color="primary" mdbWavesEffect>View Registry</a>
    </mdb-card-body>
  </mdb-card>
  <br>
  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="assets/images/walmart_logo.jpg" alt="Walmart Logo"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>View Registry</a>
    </mdb-card-body>
  </mdb-card>
</div>
<!-- Jumbotron -->
