<!-- Jumbotron -->
<div class="jumbotron text-center dark-background">
  <div class="view overlay my-4 waves-light" mdbWavesEffect>
    <img src="assets/images/thanksgiving.jpg" class="img-fluid" alt="Maryann and Cody">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <p class="card-text">JOIN US FOR</p>
  <h1 class="card-text fancy-script" style="color: white;">the Wedding of</h1>
  <hr>
  <h3 class="card-text serif">MARYANN UPCHURCH</h3>
  <p class="card-text thin-text">AND</p>
  <h3 class="card-text serif">CODY ROBERTSON</h3>
  <hr>
  <p class="card-text" style="color: white;">SATURDAY, MAY 25, 2019</p>
  <hr>
  <p class="card-text">Maryann and Cody joyfully request the pleasure of your company as we speak our vows and join in marriage in the presence of family and friends. </p>
</div>
<!-- Jumbotron -->
